<server description="Sample Liberty server">

  <featureManager>
    <platform>jakartaee-10.0</platform>
    <platform>microprofile-7.1</platform>
    <feature>restfulWS</feature>
    <feature>jsonb</feature>
    <feature>jsonp</feature>
    <feature>cdi</feature>
    <feature>mpConfig</feature>
    <feature>mpRestClient</feature>
    <feature>appSecurity</feature>
    <feature>servlet</feature>
  </featureManager>

  <variable name="http.port" defaultValue="8080"/>
  <variable name="https.port" defaultValue="8443"/>

  <keyStore id="defaultKeyStore" password="secret"/>

  <httpEndpoint host="*" httpPort="${http.port}" httpsPort="${https.port}"
                id="defaultHttpEndpoint"/>

  <webApplication location="system.war" contextRoot="/"/>

</server>