<server description="Sample Liberty server">

  <featureManager>
    <feature>jaxrs-2.0</feature>
    <feature>jsonp-1.0</feature>
    <feature>cdi-1.2</feature>
    <feature>jsf-2.2</feature>
    <!-- FOR SECURITY -->
    <feature>appSecurity-2.0</feature>
    <feature>servlet-3.1</feature>
    <feature>mpJwt-1.0</feature>
    <feature>jwt-1.0</feature>
  </featureManager>

  <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

  <!-- <keyStore id="defaultKeyStore" password="app-pass"
  location="${server.config.dir}/key.jks" /> -->

  <!-- This is the keystore that will be used by SSL and by JWT.
    	 The keystore is built using the maven keytool plugin -->
    <keyStore id="defaultKeyStore" location="keystore.jceks"
              type="JCEKS" password="secret" />

  <basicRegistry id="basic" realm="WebRealm">
      <user name="bob" password="{xor}Lyg7" />  <!-- pwd -->
      <user name="alice" password="{xor}PjM2PDovKDs=" />  <!-- alicepwd -->
      <user name="carl" password="{xor}PD4tMy8oOw==" />   <!-- carlpwd -->

      <group name="myAdmins">
        <member name="bob" />
      </group>

      <group name="myUsers">
        <member name="bob" />
        <member name="alice" />
        <member name="carl" />
      </group>
    </basicRegistry>

    <application location="io.openliberty.guides.mpjwt.war" type="war"
    id="io.openliberty.guides.mpjwt" name="io.openliberty.guides.mpjwt"
    context-root="/">
    <application-bnd>
      <security-role name="admin">
        <group name="myAdmins" />
      </security-role>
      <security-role name="user">
        <group name="myUsers" />
      </security-role>
    </application-bnd>
  </application>

  <!-- <jwtBuilder id="jwtBuilder"
    issuer="${jwt.issuer}"
    jwkEnabled="false"
    keyStoreRef="defaultKeyStore"
    keyAlias="jwtsampleapp"
    signatureAlgorithm="RS256"
  />

<mpJwt id="jwtConsumer"
     issuer="${jwt.issuer}"
     audiences="http://localhost:9080/inventory">
</mpJwt> -->
<!-- issuer="http://localhost:9080/jwtBuilder" -->

<!-- This JWT builder is used to build a JWT for an authenticated user.
         JWTs generated by this builder are in the 'users' group, and contain
         the user name of the authenticated user. -->
    <jwtBuilder id="jwtUserBuilder" issuer="${jwt.issuer}" expiry="24h"
                keyAlias="default" audiences="mpjwt" jti="true"/>

	<!-- The MP JWT configuration that injects the caller's JWT into a
	     ResourceScoped bean for inspection. -->
    <mpJwt id="jwtUserConsumer" keyName="default"
           audiences="mpjwt" issuer="${jwt.issuer}"/>


</server>
